name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - ci_testing
  pull_request:

jobs:
  clang-format:
    name: clang-format
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install clang-format
        run: |
          apt update
          apt install -y clang-format

      - name: clang-format
        run: |
          mkdir -p failure_state_clang-format
          bash tests/lint/clang-format/run.sh SamplePlugin
