name: Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  plugin-pack:
    name: Pack plugin sources
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Compress plugin's sources
        run: |
          mkdir release-plugin
          zip -r AdvancedControlFlow.zip AdvancedControlFlow
          mv AdvancedControlFlow.zip release-plugin

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: AdvancedControlFlow
          path: "release-plugin"

  sample-pack:
    name: Pack sample sources
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Compress sample project's sources
        run: |
          mkdir release-sample
          cd samples && zip -r SampleProject.zip SampleProject && cd ..
          mv samples/SampleProject.zip release-sample

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: SampleProject
          path: "release-sample"

  publish:
    name: Publish
    needs: [plugin-pack, sample-pack]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-18.04
    steps:
      - name: Fetch Artifacts
        uses: actions/download-artifact@v2
        with:
          path: dist
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_FOR_ACTIONS }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false
      - name: Publish GitHub Release Page
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_FOR_ACTIONS }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/**/*.zip
          asset_content_type: application/zip
